@use "../helpers" as *;

.button {
  display: inline-flex;
  justify-content: center;
  padding: rem(18) rem(24);
  font-size: rem(18);
  color: var(--color-light);
  background-color: var(--color-forest-900);
  white-space: nowrap;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  @include laptop {
    padding: rem(14) rem(20);
    font-size: rem(14);
    border-radius: rem(8);
  }

  @include hover {
    color: var(--color-accent);
    background-color: var(--color-forest-700);
    border-color: var(--color-accent);
  }

  &__accent {
    padding: rem(14) rem(20);
    font-weight: 500;
    color: var(--color-dark);
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    border-radius: rem(10);

    @include laptop {
      padding: rem(10) rem(14);
      border-radius: rem(6);
    }
  }
}
