@use "../helpers" as *;

.hero {
  position: relative;
  height: rem(180);
  width: 100%;
  overflow: hidden;

  &__banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    z-index: 0;
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    max-width: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(14) rem(20);
    background-color: var(--color-forest-500);
    color: var(--color-text-on-forest);
    border-radius: rem(15);
    box-shadow: var(--shadow);

    z-index: 10;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-weight: 600;
    font-size: rem(36);
    text-align: center;
    line-height: 1.2;
  }
}
