@use "../helpers" as *;

.hero {
  position: relative;
  height: rem(180);
  width: 100%;
  overflow: hidden;

  &__banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    z-index: 0;
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    max-width: rem(1000);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(14) rem(20);
    background-color: transparent;
    color: var(--color-cream-100);
    border-radius: rem(15);
    box-shadow: var(--shadow);
    font-family: var(--font-family-accent);

    z-index: 10;
    transform: translate(-50%, -50%);

    @include mobile {
      width: 80%;
    }
  }

  &__title {
    font-weight: 600;
    font-size: rem(34);
    text-align: center;
    line-height: 1.2;

    @include laptop {
      font-size: rem(28);
    }

    @include tablet {
      font-size: rem(24);
    }

    @include mobile {
      font-size: rem(18);
    }

    @include mobile-s {
      font-size: rem(16);
    }
  }
}
