@use "../helpers" as *;

.icon {
  display: inline-flex;
  align-items: center;
  column-gap: #{rem(8)};

  &::before {
    --size: #{rem(20)};

    @include square(var(--size));

    content: "";
    flex-shrink: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__phone {
    &::before {
      background-image: url("../../icons/phone.svg");
    }
  }

  &__email {
    &::before {
      background-image: url("../../icons/email.svg");
    }
  }

  &__copyright {
    &::before {
      background-image: url("../../icons/copyright.svg");
    }
  }
}
