@use "../helpers" as *;

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(32);
}

.card {
  min-width: rem(500);
  max-width: rem(600);
  width: auto;
  padding: rem(40);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: rem(32);
  color: var(--color-light);
  background: linear-gradient(
    135deg,
    var(--color-forest-900),
    var(--color-forest-700),
    var(--color-forest-500)
  );
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  @include mobile {
    min-width: rem(400);
    width: 100%;
    padding: rem(20);
    row-gap: rem(24);
  }

  @include mobile-s {
    min-width: rem(300);
    padding: rem(14);
  }

  &__title {
    margin-bottom: rem(32);
    color: var(--color-light);

    @include mobile {
      margin-bottom: rem(20);
    }

    @include mobile-s {
      margin-bottom: rem(14);
    }
  }

  .button {
    margin-top: rem(32);

    @include mobile {
      margin-top: rem(20);
    }

    @include mobile-s {
      margin-top: rem(14);
    }
  }

  &__label {
    position: relative;

    &-name {
      position: absolute;
      top: -75%;
      left: -3%;
      font-weight: 500;

      pointer-events: none;
    }

    &-avatar {
      margin-bottom: rem(32);

      @include mobile {
        margin-bottom: rem(22);
      }
    }
  }

  &__input {
    box-shadow: var(--shadow);
    padding-inline: rem(8);

    &-avatar {
      position: absolute;
      top: 120%;
      left: -8%;
    }
  }

  &__message {
    position: absolute;
    top: -75%;
    right: 0;
    color: var(--color-muted);

    &-avatar {
      top: 250%;
      right: auto;
      line-height: 1;
    }
  }
}

.grid {
  display: flex;
  flex-direction: column;
  row-gap: rem(32);
}

.notice {
  padding: 10px;
  border-radius: 6px;
  margin: 20px 0;
}

.notice.error {
  border: 2px solid #762c2c;
  background: #f3d3d3;
  color: #762c2c;
}

.notice.success {
  border: 2px solid #2c742b;
  background: #e1fee3;
  color: #2c742b;
}
