@use "../helpers" as *;

.title-block {
  text-align: center;
  h1 {
    font-size: rem(50);
    font-weight: 700;
  }
}

p{
    font-size: rem(25);
}

.gallery {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
  justify-content: center; 

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.gallery-item {
  width: rem(420);
  height: rem(320);
  border: var(--border);
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  box-shadow: var(--shadow);
  border-radius: rem(15); 
 

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.work-directions {
  width: 100%;
  margin: 40px auto;
  padding: 0 15px;

  h2 {
     font-size: rem(20);
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
  }

  .directions-list {
    list-style: disc;
    padding-left: 25px;
    line-height: 1.6;
    font-size: rem(20);
    color: #333;

    li {
      margin-bottom: 8px;
    }
  }
}


