@use "helpers" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-text-on-cream);
  background-color: var(--color-cream-50);
}

main {
  flex-grow: 1;
  padding-inline: var(--container-padding-x);
  padding-block: var(--container-padding-y);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-text-on-cream);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-accent);
  font-weight: 500;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  @include fluid-text(70, 30);
  line-height: 1.2;
}

h2,
.h2 {
  @include fluid-text(58, 28);
  line-height: 1.3;
}

h3,
.h3 {
  @include fluid-text(40, 24);
}

h4,
.h4 {
  @include fluid-text(26, 18);
}

h5,
.h5 {
  @include fluid-text(24, 18);
}

h6,
.h6 {
  @include fluid-text(20, 18);
}

a,
button,
select,
label,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

button {
  background-color: var(--color-forest-300);
  color: var(--color-text-on-forest);
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: "";
    }
  }
}
